.Category-title {
  color: white;
  font-weight: bold;
  margin-left: 12px;
}

.Category-list {
  list-style-position: inside;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.Category-link {
  color: white;
  font-size: 1em;
  transition: color ease-in 0.1s;
}

.Category-link:hover {
  color: #8c55a2;
}

@media screen and (min-width: 640px) {
  .Category-list {
    flex-direction: column;
  }

  .Category-list li::before {
    color: #8c55a2;
    margin-right: 0.5em;
    font-size: 1em;
  }

  .Category-title {
    margin-left: 0;
  }
}
